<div class="info-basica-footer">
    <div class="info-basica-botones">
        <button type="button" class="btn-baxen btn-sm">Nuevo</button>
        <button type="button" class="btn-baxen btn-sm">Exportar</button>
        <button type="button" class="btn-baxen-disabled btn-sm" disabled>Editar</button>
        <button type="button" class="btn-baxen btn-sm">Cerrar</button>
    </div>
</div>