<div class="modal fade" id="modalControlReuso" tabindex="-1" aria-labelledby="modalControlReusoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalControlReusoLabel">Baxen® Trazabilidad</h5>
            </div>

            <div class="modal-body text-center">
                <div style="font-size: 40px;">⚠️</div>

                <div id="mensajeReuso1" class="mt-2 fw-bold"></div>
                <div id="mensajeReuso2" class="mt-2"></div>
            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" id="btnAceptarControlReuso" class="btn btn-primary" data-bs-dismiss="modal">
                    OK
                </button>
            </div>

        </div>
    </div>
</div>
