<div class="modal fade" id="modalPrioridadProceso" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Prioridad de Proceso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                Está registrando un material definido con prioridad de proceso.
                <br />
                ¿Desea registrarlo con prioridad de proceso?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnPrioridadNo">No</button>
                <button type="button" class="btn btn-primary" id="btnPrioridadSi">Sí</button>
            </div>

        </div>
    </div>
</div>